
#app3 .square{
    border: 1px solid black;
    width: 14vw;
    height: 14vw;
    transition: all 1s;
    background-color: yellow;

}

#app3 .square.active{
    border: 1px solid black;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    transform: translateX(20vw);
    transition: all 1s;
}